.segment-md .segment-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 4.2rem;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,.1);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 4rem;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    opacity: .7;
    -webkit-transition: .1s all linear;
    transition: .1s all linear;
    padding: 0 6px;
}

.toolbar .segment-md .segment-button.activated, .toolbar .segment-md .segment-button.segment-activated {
    opacity: 1;
    border-bottom-color: #fff;
}

page-pharmacies{
    #t{
        height:10%;
    }
}

tabp1{
    #map_canvas {
    height: 90%;
  }


}

tabp2{
    #map_canvas {
    height: 90%;
  }
  }

ion-card.adv-map p {
  font-size: 0.7em !important;
}

button[fab].fab-map {
  top: calc(100% - 35px);
  z-index: 50;
}

.item-bold {
  font-weight: bold;
}

ion-content.cards-bg {
  background-color: #f4f4f7;
}
